.h1-view {
	text-align: center;
	color: rgba(255, 255, 255, 0.7);
}

body {
}
.container-fluid:first-child {
	background: url('images/forest-head.jpeg') no-repeat center -630px fixed;
	padding: 20px 0 20px 0;
}
.container-fluid {
	h1{
		@extend .h1-view;
	}
}
img {
	margin: 2px;
	width: 100%;
}
.big-img {
	height: 400px;
}
.pan {
	@extend .h1-view;
	height: 300px;
	background: url('images/pan-bg.jpg') no-repeat center center fixed;
	
	h1 {
		line-height: 300px;
	}
}
.small-img {
	height: 198px;
}
.col-padding-left {
	padding-left: 0;
	padding-right: 3px;
}
.col-padding-right {
	padding-left: 3px;
}

@media (max-width: 500px) {
	.big-img {
		height: 200px;
	}
	.pan {
		height: 150px;
		h1 {
		line-height: 150px;
		font-size: 30px;
		}
	}
	.small-img {
		height: 97px;
	}
}
@media (max-width: 390px) {
	.pan {
		h1 {
		font-size: 23px;
		}
	}
}
